<a href="https://colab.research.google.com/github/BonganiSomba/Machine_Learning_For_Supply_Chain/blob/main/Copy_of_PredictionOfAnswer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
####importing modules  
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification
#from matlplotlib import pyplot as plt 
from sklearn.metrics import confusion_matrix

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
####### importing data


df = pd.read_excel("Machine Learning.xlsx")
df.head()

        Date Language  ... Right/Wrong Prediction
0 2021-09-11  English  ...           R        NaN
1 2021-09-11   German  ...           R        NaN
2 2021-09-12  English  ...           W        NaN
3 2021-09-13  English  ...           W        NaN
4 2021-09-14  English  ...           R        NaN

[5 rows x 7 columns]

###Data Cleaning using neattext

In [ ]:
#!pip install neattext
import neattext as nt 
import neattext.functions as nfx

Collecting neattext
  Downloading neattext-0.1.1-py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 4.3 MB/s
Installing collected packages: neattext
Successfully installed neattext-0.1.1

In [ ]:
df['Question.fix'] = df['Question'].apply(nfx.remove_shortwords)
df['Answer.fix'] =df['Answer'].apply(nfx.remove_stopwords)
df

        Date Language  ...        Question.fix          Answer.fix
0 2021-09-11  English  ...              father              Father
1 2021-09-11   German  ...              father              Father
2 2021-09-12  English  ...  father house spain    father house sxx
3 2021-09-13  English  ...  father house spain             asdfdfs
4 2021-09-14  English  ...  father house spain  father house spain
5 2021-09-15  English  ...  father house spain               dsfdf
6 2021-09-16  English  ...  father house spain  father house spain
7 2021-09-17  English  ...  father house spain            asdfasdf

[8 rows x 9 columns]

In [ ]:
df['Question.fix'] = df['Question.fix'].str.lower()
df['Answer.fix'] =df['Answer'].str.lower()
df['Language']= df['Language'].str.lower()
df

        Date Language  ...        Question.fix                      Answer.fix
0 2021-09-11  english  ...              father                       my father
1 2021-09-11   german  ...              father                       my father
2 2021-09-12  english  ...  father house spain    my father has a house in sxx
3 2021-09-13  english  ...  father house spain                         asdfdfs
4 2021-09-14  english  ...  father house spain  my father has a house in spain
5 2021-09-15  english  ...  father house spain                           dsfdf
6 2021-09-16  english  ...  father house spain  my father has a house in spain
7 2021-09-17  english  ...  father house spain                        asdfasdf

[8 rows x 9 columns]

##Word Embedding 
We will convert our text data into numerical vector

In [ ]:
#from keras.preprocessing.text import one_hot
### tensorflow 
from tensorflow.keras.preprocessing.text import one_hot

In [ ]:
#### vocabulary size 
voc_size = 10000

one hot presentation

In [ ]:
one_hot_pre= [one_hot(words,voc_size)for words in df]

In [ ]:
one_hot_pre

[[7526],
 [962],
 [3962],
 [765],
 [9177],
 [1146, 5872],
 [7113],
 [765, 692],
 [9177, 692]]

Prep Data

In [ ]:
##### we keeping the column that we might use on our model 
data = df[['Language','Question.fix','Answer.fix','Right/Wrong']]
data

  Language        Question.fix                      Answer.fix Right/Wrong
0  english              father                       my father           R
1   german              father                       my father           R
2  english  father house spain    my father has a house in sxx           W
3  english  father house spain                         asdfdfs           W
4  english  father house spain  my father has a house in spain           R
5  english  father house spain                           dsfdf           W
6  english  father house spain  my father has a house in spain           R
7  english  father house spain                        asdfasdf           W

In [ ]:
#### we will create training set and testing set 
from sklearn.model_selection import train_test_split

In [ ]:
##### we will be predicting Right/Wrong
y = data['Right/Wrong']
y

0    R
1    R
2    W
3    W
4    R
5    W
6    R
7    W
Name: Right/Wrong, dtype: object

In [ ]:
### this will be our training dataset  
x = data.drop('Right/Wrong',axis = 1 )
x

  Language        Question.fix          Answer.fix
0  English              father              Father
1   German              father              Father
2  English  father house spain    father house sxx
3  English  father house spain             asdfdfs
4  English  father house spain  father house spain
5  English  father house spain               dsfdf
6  English  father house spain  father house spain
7  English  father house spain            asdfasdf

In [ ]:
#20% of the dataset and the rest should be train data
# I will also use cross-validation on a later stage 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

  Language        Question.fix          Answer.fix
4  English  father house spain  father house spain
7  English  father house spain            asdfasdf
1   German              father              Father
0  English              father              Father
5  English  father house spain               dsfdf

In [ ]:
#x_train.shape

In [ ]:
#x_test.head()

We will use bag of words from sklearn to convert text content into numerical feature vectors 

---

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
#### note that for this mock dataset we have 3x3 matrix type, it will change once we get new dataset
vectorizer = CountVectorizer()
x_train_vectors =vectorizer.fit_transform(x_train)
x_test_vectors = vectorizer.transform(x_test)

##Classification

###Linear SVM

In [ ]:
from sklearn import svm 

clf_svm = svm.SVC(kernel='linear')
clf_svm.fit(x_train,y_train)

ValueError: ignored

In [ ]:
#### we will use Logistic Regression model from sklearn
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split

In [ ]:
dat = LogisticRegression()
dat.fit(x_train,y_train)

ValueError: ignored

In [ ]:
s = str('I love Machine Learning')

In [ ]:

s.apply(nfx_remove_stopwords)

AttributeError: ignored

In [ ]:
pd.to_numeric(s)

ValueError: ignored