<a href="https://colab.research.google.com/github/BonganiSomba/Machine_Learning_For_Supply_Chain/blob/main/PredictionOfAnswer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
####importing packages  

import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
####### importing data


df = pd.read_excel("Machine Learning.xlsx")
df.head()

        Date Language  ... Right/Wrong Prediction
0 2021-09-11  English  ...           R        NaN
1 2021-09-11   German  ...           R        NaN
2 2021-09-12  English  ...           W        NaN
3 2021-09-13  English  ...           W        NaN
4 2021-09-14  English  ...           R        NaN

[5 rows x 7 columns]

In [11]:
##### we keeping the column that we might use on our model 
data = df[['Language','Question','Answer','Right/Wrong']]
data

  Language  ... Right/Wrong
0  English  ...           R
1   German  ...           R
2  English  ...           W
3  English  ...           W
4  English  ...           R
5  English  ...           W
6  English  ...           R
7  English  ...           W

[8 rows x 4 columns]

Prep Data

In [17]:
#### we will create training set and testing set 
from sklearn.model_selection import train_test_split

In [32]:
##### we will be predicting Right/Wrong
y = data['Right/Wrong']
y

0    R
1    R
2    W
3    W
4    R
5    W
6    R
7    W
Name: Right/Wrong, dtype: object

In [34]:
### this will be our training dataset  
x = data.drop('Right/Wrong',axis = 1 )
x

  Language                        Question                          Answer
0  English                       My father                       My Father
1   German                       My father                       My Father
2  English  My father has a house in spain    My father has a house in sxx
3  English  My father has a house in spain                         asdfdfs
4  English  My father has a house in spain  My father has a house in spain
5  English  My father has a house in spain                           dsfdf
6  English  My father has a house in spain  My father has a house in spain
7  English  My father has a house in spain                        asdfasdf

In [35]:
#20% of the dataset and the rest should be train data
# I will also use cross-validation on a later stage 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

  Language                        Question                          Answer
4  English  My father has a house in spain  My father has a house in spain
2  English  My father has a house in spain    My father has a house in sxx
6  English  My father has a house in spain  My father has a house in spain
0  English                       My father                       My Father
1   German                       My father                       My Father

In [36]:
#x_train.shape

(6, 3)

In [37]:
#x_test.head()

  Language                        Question    Answer
7  English  My father has a house in spain  asdfasdf
3  English  My father has a house in spain   asdfdfs

In [18]:
from sklearn.linear_model import LogisticRegression